<div class="row contact-info-box">
  <div class="col-md-7 col-xs-12">
    <h4>
      <strong>About me</strong>
    </h4>
    <div class="info">
      <ul>
        <li>Telephone: 068-065-523</li>
        <li>Address: Drumul Viilor 28/1 Street</li>
        <li>Stufies at: FAF-161</li>
      </ul>
    </div>
  </div>

  <div class="col-md-5 col-xs-12">
    <h4>
      <strong>Get in Touch</strong>
    </h4>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="" value="" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="" value="" placeholder="E-mail">
      </div>
      <div class="form-group">
        <input type="tel" class="form-control" name="" value="" placeholder="Phone">
      </div>
      <div class="form-group">
        <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
      </div>
      <button class="btn btn-default" type="submit" name="button">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
      </button>
    </form>
  </div>
</div>