<div class="container">
  <div class="jumbotron">
    <h1>Welcome banner</h1>
    <p>Here will be content that will be possible to modify once I put this template on Rail.</p>
    <%= link_to "About project »", about_path, class: "btn btn-info", role: "button" %>
  </div>

  <div class="row post-container">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 post-item">
      <h2>Title 1</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <a class="btn btn-default" href="#" role="button">View details »</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 post-item">
      <h2>Title 2</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <a class="btn btn-default" href="#" role="button">View details »</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 post-item">
      <h2>Title 3</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <a class="btn btn-default" href="#" role="button">View details »</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 post-item">
      <h2>Title 4</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
      <a class="btn btn-default" href="#" role="button">View details »</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 post-item">
      <h2>Title 5</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <a class="btn btn-default" href="#" role="button">View details »</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 post-item">
      <h2>Title 6</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <a class="btn btn-default" href="#" role="button">View details »</a>
    </div>
  </div>